.main_aside{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 2vh;
  transform: rotate(-90deg);
  max-width: 1px;
  left: calc(4vh - .7rem);
  bottom: 3vh;
  /* right:  ; */
}

.div_ligth{
  display: flex;
  flex-flow: row nowrap;
  column-gap: .5vh;
  align-items: center;
  cursor: pointer;
}

.aside_font{
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -.1em;
}


/* responsive */

@media screen and (max-width: 1080px){

  .main_aside{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3vh;
    transform: rotate(-90deg);
    max-width: 1px;
    left: calc(4vh - .7rem);
    bottom: 3vh;
    /* right:  ; */
  }
  
  .div_ligth{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1vh;
    align-items: center;
    cursor: pointer;
  }
  
  .aside_font{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -.1em;
  }
}

/* surface pro 7 */
@media screen and (max-width: 920px){

  .main_aside{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2vw;
    transform: rotate(-90deg);
    max-width: 1px;
    left: calc(3.5vw - .7rem);
    bottom: 7vw;
  }

  /* .aside_font{
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: -.1em;
  } */
}

@media screen and (max-width: 620px){

  .main_aside{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2vw;
    transform: rotate(-90deg);
    max-width: 1px;
    left: calc(4vw - .7rem);
    bottom: 6vw;
  }

}

@media screen and (max-width: 540px){

  .main_aside{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2vw;
    transform: rotate(-90deg);
    max-width: 1px;
    left: calc(4vw - .6rem);
    bottom: 6vw;
  }
  
  .aside_font{
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: -.1em;
  }

  .aside_symbols{
    max-height: .8rem;
    max-width: .8rem;
  }
}
