
/* contact */
.contact_font{
  font-weight: 200;
  font-size: 2.5rem;
  transition: .1s;

}

.form_contact{
  display: flex;
  flex-flow: column;
  text-align: right;
}

.divs_contact{
  display: flex;
  flex-flow: row;
  align-items: baseline;
  column-gap: 2em;
  justify-content: flex-end;
  transition: .1s;
}

.divs_contact_text{
  display: flex;
  flex-flow: column;
  align-items: baseline;
  row-gap: 1em;
  transition: .1s;
}

.iC, iC:focus{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
}

.inputs_contact{
  font-weight: 500;
  font-size: 1.5rem;
  margin: 3vh 0;
  min-width: 20vw;
  padding: 0 +.1vw;
}

.textA_contact{
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1vh;
  min-width: 100%;
  padding: 1vw;
  resize: none;
  line-height: 1.5em;
  height: 20vh;
}

.submit_contact:hover{
  box-shadow: 3px 0px 30px hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 60%);
  opacity: .8;
}


/* contact mediaqueries */
@media screen and (max-width: 1080px){

  .contact_font{
    font-size: 2rem;
  }
  
  .divs_contact, .divs_contact_text{
    column-gap: 1em;
  }

  .inputs_contact{
    font-weight: 300;
    font-size: 1rem;
    min-width: 25vw;
  }
  
  .textA_contact{
    font-weight: 300;
    font-size: 1rem;
  }
  
}

/* surface pro 7 */
@media screen and (max-width: 920px){

  /* .contact_font{
    font-size: 3rem;
  }
  
  .divs_contact{
    column-gap: 1em;
  } */
  
  .divs_contact_text{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    row-gap: 1em;
    transition: .1s;
  }

  .textA_contact{
    font-weight: 300;
    font-size: 2rem;
    margin-top: 1vh;
    min-width: 100%;
    padding: 1vw;
    resize: none;
    line-height: 1.5em;
    height: 15vh;
  }

  .inputs_contact{
    font-weight: 300;
    font-size: 1.2rem;
    min-width: 60vw;
  }
  
}

@media screen and (max-width: 620px){

  .contact_font{
    font-size: 1.5rem;
  }
  
  .divs_contact{
    column-gap: 1em;
  }

  .divs_contact_text{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    row-gap: 1vh;
    transition: .1s;
  }

  .textA_contact{
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 1vh;
    min-width: 100%;
    padding: 1vw;
    resize: none;
    line-height: 1.5em;
    height: 15vh;
  }

  .inputs_contact{
    font-weight: 300;
    font-size: 1.2rem;
    min-width: 60vw;
    margin: 0 0 3vh 0;

  }

  .section_home{
    bottom: 12vh;
  }
}

@media screen and (max-width: 540px){

  .section_home{
    bottom: 12vw;
    right: 9.6vw;
  }

  .contact_font{
    font-size: 1.5rem;
  }
  
  .divs_contact{
    column-gap: 1em;
  }

  .divs_contact_text{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    row-gap: 1vh;
    transition: .1s;
  }

  .textA_contact{
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 1vh;
    min-width: 100%;
    padding: 1vw;
    resize: none;
    line-height: 1.5em;
    height: 15vh;
  }

  .inputs_contact{
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 60%;
    margin: 0 0 3vh 0;
  }

}

@media screen and (max-width: 420px){

  .form_contact{
    display: flex;
    flex-flow: column;
    text-align: right;
    width: 80vw;
  }

  .textA_contact{
    min-width: 100%;
  }

  .inputs_contact{
    min-width: 20%;
  }
}